USE [AIG_Nav_Jumia_Reconciliation]
GO
/****** Object:  StoredProcedure [dbo].[REFRESH_OMS_RECONCILIATION_SALES_DELIVERIES_INC]    Script Date: 2/26/2016 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[REFRESH_OMS_RECONCILIATION_SALES_DELIVERIES_INC]
AS
-- drop table OMS_RECONCILIATION_SALES_DELIVERIES
DECLARE @CUT_OFF_DATE_BI NVARCHAR(50);
DECLARE @PRINT_MSG NVARCHAR(150);
DECLARE @QUERY_OMS_1 NVARCHAR(MAX); 
DECLARE @QUERY_OMS_2 NVARCHAR(MAX);
DECLARE @QUERY_OMS_3 NVARCHAR(MAX);
DECLARE @QUERY_NAV NVARCHAR(MAX);
DECLARE @QUERY_RABBIT NVARCHAR(MAX);
DECLARE @COUNTRY NVARCHAR(150);
DECLARE @COUNTRY_CODE NVARCHAR(50);
DECLARE @SHORT_COUNTRY_CODE NVARCHAR(50);
DECLARE @INC_COL NVARCHAR(50);
DECLARE @REP_ALL bit;
DECLARE @TABLE_TO_CREATE NVARCHAR(150);
DECLARE @TABLE_TO_CREATE_SCHEMA NVARCHAR(150);
DECLARE @COUNTER INT;
DECLARE @BATCH_COUNTER INT;
DECLARE @ROWCOUNT INT;


SET @PRINT_MSG = 'OMS_RECONCILIATION_SALES_DELIVERIES_INC ==== PROCESSING RABBIT MESSAGES ==== ' 
RAISERROR(@PRINT_MSG,0,1) WITH NOWAIT
EXEC [dbo].[REFRESH_TMP_RAB_MESSAGES_ENT11];

SET @PRINT_MSG = '==== PROCESSING NAVISION MESSAGES ==== ' 
RAISERROR(@PRINT_MSG,0,1) WITH NOWAIT
EXEC [dbo].[REFRESH_TMP_NAV_MESSAGES];


-- get all countries from config table
DECLARE COUNTRIES_CURSOR CURSOR FOR 
	SELECT ID_COMPANY
		, ID_COMPANY_SHORT
		, COUNTRY
		, CUT_OFF_DATE_BI
		, INCREMENTAl_COL
		, REPROCESS_ALL
	FROM OMS_RECONCILIATION_CONFIG 
	WHERE ACTIVE = 1 
	ORDER BY [ORDER] ASC;

-- reconciliation table to create
SET @TABLE_TO_CREATE = 'OMS_RECONCILIATION_SALES_DELIVERIES';
SET @TABLE_TO_CREATE_SCHEMA = 'AIG_Nav_Jumia_Reconciliation'

-- start process for each country
OPEN COUNTRIES_CURSOR
	-- get current country
	FETCH NEXT FROM COUNTRIES_CURSOR INTO @COUNTRY_CODE,@SHORT_COUNTRY_CODE,@COUNTRY,@CUT_OFF_DATE_BI,@INC_COL,@REP_ALL
		
	SET @COUNTER = 1;
	-- while you have countries to process
	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		DECLARE @MAX_DATE NVARCHAR(50);
		DECLARE @INSERT NVARCHAR(50);
		DECLARE @INSERT_INTO NVARCHAR(50);
		DECLARE @THRESHOLD NVARCHAR(100);
				
		SET @PRINT_MSG = 'PROCESSING COUNTRY: ' + @COUNTRY_CODE
		RAISERROR(@PRINT_MSG,0,1) WITH NOWAIT

		SELECT 1
		SET @ROWCOUNT = @@ROWCOUNT		
		WHILE(@ROWCOUNT != 0)
		BEGIN
			  
			  IF (EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES 
				  WHERE TABLE_CATALOG = @TABLE_TO_CREATE_SCHEMA AND TABLE_NAME = @TABLE_TO_CREATE))
			  BEGIN
				  IF (@REP_ALL = 1) 
				  BEGIN
					DECLARE @DROP_QUERY NVARCHAR(250) = 'DROP TABLE ' + @TABLE_TO_CREATE; 		
					EXEC(@DROP_QUERY);
				  END	

				  DECLARE @IN_SQL NVARCHAR(MAX);			
				  SET @INSERT = 'INSERT INTO ' +  @TABLE_TO_CREATE;
				  SET @INSERT_INTO='';	
				  SET @IN_SQL = N'SELECT @EXTRACT_THRESHOLD=ISNULL(MAX(' + @INC_COL + '),''19000101000000'') FROM ' + @TABLE_TO_CREATE + ' WHERE ID_COMPANY='''+ @COUNTRY_CODE  + ''';'			
				  SET @THRESHOLD = N'@EXTRACT_THRESHOLD varchar(100) OUTPUT';			
				  -- get date for current country
				  EXEC sp_executesql @IN_SQL,@THRESHOLD,@EXTRACT_THRESHOLD=@THRESHOLD OUTPUT;	
			  END
			  ELSE
			  BEGIN	
				  SET @THRESHOLD = '19000101000000';	
				  SET @INSERT = '';
				  SET @INSERT_INTO='INTO ' +  @TABLE_TO_CREATE;			
			  END
			-- DROP TABLE OMS_RECONCILIATION_SALES_DELIVERIES
			SET @BATCH_COUNTER = 500000;	  	  
	  

			SET @QUERY_OMS_1 = (@INSERT +  char(13) + char(10) + 
				  'SELECT DISTINCT OMS_DATA.ID_COMPANY AS ID_Company
				  ,OMS_DATA.COD_TRACKING_NUMBER AS OMS_Package_No
				  ,OMS_DATA.COD_UPDATE_DATE AS OMS_Delivery_Date
				  ,OMS_DATA.COD_ORDER_NR AS OMS_SO_No
				  ,OMS_DATA.COD_CUSTOMER AS OMS_Customer_No				  
				  ,OMS_Count_Retail_Items
				  ,OMS_Count_Marketplace_Items
				  ,OMS_Sum_Retail_Revenue_Before_Discount_Excl_VAT
				  ,OMS_Sum_Retail_Revenue_Before_Discount_Incl_VAT
				  ,OMS_Sum_Retail_Cart_Rule_Discount_Excl_VAT               
				  ,OMS_Sum_Retail_Cart_Rule_Discount_Incl_VAT
				  ,OMS_Sum_Retail_Discount_Voucher_Excl_VAT
				  ,OMS_Sum_Retail_Discount_Voucher_Incl_VAT
				  ,OMS_Sum_Retail_Revenue_After_Discount_Excl_VAT
				  ,OMS_Sum_Retail_Revenue_After_Discount_Incl_VAT
				  ,OMS_Sum_Marketplace_Revenue_Before_Discount_Incl_VAT
				  ,OMS_Sum_Marketplace_Cart_Rule_Discount_Excl_VAT
				  ,OMS_Sum_Marketplace_Cart_Rule_Discount_Incl_VAT
				  ,OMS_Sum_marketplace_Discount_Voucher_Excl_VAT
				  ,OMS_Sum_marketplace_Discount_Voucher_Incl_VAT
				  ,OMS_Sum_Marketplace_Revenue_After_Discount_Incl_VAT 
				  ,(OMS_Sum_Marketplace_Revenue_Before_Discount_Incl_VAT - OMS_Sum_Marketplace_Revenue_After_Discount_Incl_VAT) AS OMS_Sum_Marketplace_Discount_Incl_VAT 
				  ,OMS_Shipping_Fees
				  ,OMS_Shipping_Fees_Retail
				  ,OMS_Shipping_Fees_Marketplace	
				  ,OMS_Sum_Store_Credit_Excl_VAT
				  ,OMS_Sum_Store_Credit_Inc_VAT
				  ,CASE WHEN RABO_DATA.COD_TIMESTAMP IS NULL THEN ''False'' ELSE ''True'' END AS OMS_Message_Created 
				  ,RABO_DATA.id_message AS OMS_Message_ID		
				  ,(CASE WHEN RABO_DATA.fk_request_status = 1 THEN ''In Queue'' WHEN RABO_DATA.fk_request_status = 2 THEN ''Queue Failed'' WHEN RABO_DATA.fk_request_status = 3 THEN ''Request Ok'' WHEN RABO_DATA.fk_request_status = 4 THEN ''Request Failed''  WHEN RABO_DATA.fk_request_status = 5 THEN ''Invalid'' WHEN RABO_DATA.fk_request_status = 6 THEN ''Locked'' ELSE ''UNKNOWN'' END)AS RabbitMQ_Status
				  ,CASE WHEN RABO_DATA.response_message='''' THEN ''NULL'' ELSE RABO_DATA.response_message END AS RabbitMQ_Error_Message
				  ,NAV_DATA.[Status] AS Nav_Message_Status
				  ,NAV_DATA.[Error Message] AS Nav_Error_Message
				  ,CASE WHEN NAV_DATA_OP.SO_NO is null then ''False'' else ''True'' END AS Nav_Sales_Invoice_Posted
				  ,NAV_DATA_OP.[Amount excl_ VAT] AS Nav_Sales_Invoice_Amount_Excl_VAT
				  ,NAV_DATA_OP.[Amount Incl_ VAT] AS Nav_Sales_Invoice_Amount_Incl_VAT
				  ,OMS_DATA.COD_TIMESTAMP 
				  ,YEAR(OMS_DATA.COD_UPDATE_DATE) AS OMS_Delivery_Year ' + char(13) + char(10) + @INSERT_INTO + '
				   FROM( SELECT * FROM OPENQUERY([BI-DWH-JUMIA], ''select * from(SELECT DS_INT.*
				  , row_number() over(order by DS_INT.COD_TIMESTAMP ASC) as rn
				  from (SELECT top ' + CAST(@BATCH_COUNTER as NVARCHAR(50)) + ' 
				  ''''' + @COUNTRY_CODE + ''''' as ID_COMPANY
				  ,NAV_PK.COD_TRACKING_NUMBER 
				  ,NAV_PK.COD_PACKAGE
				  ,NAV_PK.COD_PACKAGE_STATUS
				  ,PSO.COD_ORDER_NR
				  ,PSO.COD_CUSTOMER
				  ,PSO.COD_SALES_RULE
				  ,NAV_PK.COD_DATE
				  ,PSO.COD_TIMESTAMP			
				  ,NAV_PK.COD_UPDATE_DATE 
				  ');	

 SET @QUERY_OMS_2 = ',SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null  THEN 1 ELSE 0 END) as OMS_Count_Retail_Items
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN 1 ELSE 0 END)  as OMS_Count_Marketplace_Items
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_UNIT_PRICE - PSOI.MTR_UNIT_TAX_AMOUNT) ELSE 0 END) AS OMS_Sum_Retail_Revenue_Before_Discount_Excl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN PSOI.MTR_UNIT_PRICE ELSE 0 END) AS OMS_Sum_Retail_Revenue_Before_Discount_Incl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_CART_RULE_DISCOUNT/(1+PSOI.MTR_TAX_PERCENT/100)) ELSE 0 END) as OMS_Sum_Retail_Cart_Rule_Discount_Excl_VAT															
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN PSOI.MTR_CART_RULE_DISCOUNT ELSE 0 END) as OMS_Sum_Retail_Cart_Rule_Discount_Incl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN (CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE =''''coupon'''' THEN 1 ELSE 0 END) = 1 THEN (CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_COUPON_MONEY_VALUE/(1+PSOI.MTR_TAX_PERCENT/100)) ELSE 0 END) ELSE 0 END) ELSE 0 END) AS OMS_Sum_Retail_Discount_Voucher_Excl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN (CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE =''''coupon'''' THEN 1 ELSE 0 END) = 1 THEN PSOI.MTR_COUPON_MONEY_VALUE ELSE 0 END) ELSE 0 END) AS OMS_Sum_Retail_Discount_Voucher_Incl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_UNIT_PRICE - PSOI.MTR_UNIT_TAX_AMOUNT - (PSOI.MTR_CART_RULE_DISCOUNT/(1+PSOI.MTR_TAX_PERCENT/100)) - (CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE =''''coupon'''' THEN 1 ELSE 0 END) = 1 THEN (PSOI.MTR_COUPON_MONEY_VALUE/(1+PSOI.MTR_TAX_PERCENT/100))  ELSE 0 END)) ELSE 0 END) AS OMS_Sum_Retail_Revenue_After_Discount_Excl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_UNIT_PRICE - PSOI.MTR_CART_RULE_DISCOUNT-(CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE =''''coupon'''' THEN 1 ELSE 0 END) = 1 THEN (PSOI.MTR_COUPON_MONEY_VALUE) ELSE 0 END))ELSE 0 END) AS OMS_Sum_Retail_Revenue_After_Discount_Incl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_UNIT_PRICE) ELSE 0 END) AS OMS_Sum_Marketplace_Revenue_Before_Discount_Incl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_UNIT_PRICE - PSOI.MTR_CART_RULE_DISCOUNT - (CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE =''''coupon'''' THEN 1 ELSE 0 END) = 1 THEN (PSOI.MTR_COUPON_MONEY_VALUE)  ELSE 0 END)) ELSE 0 END) AS OMS_Sum_Marketplace_Revenue_After_Discount_Incl_VAT	
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_CART_RULE_DISCOUNT/(1+PSOI.MTR_TAX_PERCENT/100)) ELSE 0 END) as OMS_Sum_Marketplace_Cart_Rule_Discount_Excl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN PSOI.MTR_CART_RULE_DISCOUNT ELSE 0 END) as OMS_Sum_Marketplace_Cart_Rule_Discount_Incl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_UNIT_PRICE) ELSE 0 END) - SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN (PSOI.MTR_UNIT_PRICE - PSOI.MTR_UNIT_TAX_AMOUNT - PSOI.MTR_CART_RULE_DISCOUNT - (CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE =''''coupon'''' THEN 1 ELSE 0 END) = 1 THEN (PSOI.MTR_COUPON_MONEY_VALUE)  ELSE 0 END)) ELSE 0 END) AS OMS_Sum_Marketplace_Discount_Incl_VAT
				  ,SUM(ISNULL(FEES.MTR_SHIPPING_AMOUNT_INCL_TAX,0)) AS OMS_Shipping_Fees
				  ,ISNULL(SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =0 AND DAT_REAL_DELIVERY_DATE is not null THEN ISNULL(FEES.MTR_SHIPPING_AMOUNT_INCL_TAX,0) END),0) AS OMS_Shipping_Fees_Retail
				  ,ISNULL(SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN ISNULL(FEES.MTR_SHIPPING_AMOUNT_INCL_TAX,0) END),0) AS OMS_Shipping_Fees_Marketplace
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null  THEN (CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE =''''coupon'''' THEN 1 ELSE 0 END) = 1 THEN (PSOI.MTR_COUPON_MONEY_VALUE/(1+PSOI.MTR_TAX_PERCENT/100)) ELSE 0 END)ELSE 0 END) AS OMS_Sum_marketplace_Discount_Voucher_Excl_VAT
				  ,SUM(CASE WHEN PSOI.MTR_IS_MARKETPLACE =1 AND DAT_REAL_DELIVERY_DATE is not null THEN (CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE =''''coupon'''' THEN 1 ELSE 0 END) = 1 THEN (PSOI.MTR_COUPON_MONEY_VALUE) ELSE 0 END) ELSE 0 END) AS OMS_Sum_marketplace_Discount_Voucher_Incl_VAT
				  ,SUM(CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE not like ''''coupon'''' THEN 0 ELSE 1 END) = 0 THEN (PSOI.MTR_COUPON_MONEY_VALUE/(1+PSOI.MTR_TAX_PERCENT/100)) ELSE 0 END) AS OMS_Sum_Store_Credit_Excl_VAT
				  ,SUM(CASE WHEN (CASE WHEN PSR.DSC_SALES_RULE_SET_TYPE not like ''''coupon'''' THEN 0 ELSE 1 END) = 0 THEN PSOI.MTR_COUPON_MONEY_VALUE ELSE 0 END) AS OMS_Sum_Store_Credit_Inc_VAT
' ;

 SET @QUERY_OMS_3 = 'FROM (
 SELECT DAT_REAL_DELIVERY_DATE,cod_sales_order,COD_ORDER_NR, COD_SALES_ORDER_ITEM, MTR_IS_MARKETPLACE, MTR_UNIT_PRICE, MTR_UNIT_TAX_AMOUNT, MTR_CART_RULE_DISCOUNT, MTR_COUPON_MONEY_VALUE, MTR_TAX_PERCENT, COD_TIMESTAMP FROM [AIG_JUMIA_' + @SHORT_COUNTRY_CODE + '_STG].[dbo].[PRE_Sales_Order_Item] WHERE COD_SYSTEM=''''OMS'''') AS PSOI
JOIN [AIG_JUMIA_' + @SHORT_COUNTRY_CODE + '_STG].[dbo].[PRE_Sales_Order] AS PSO
ON PSO.COD_ORDER_NR = PSOI.COD_ORDER_NR
LEFT JOIN (
 select * from (SELECT  PSOISH.COD_DATE,PSOISH.COD_SALES_ORDER_ITEM AS COD_SALES_ORDER_ITEM_OMS,prep.COD_PACKAGE,
 row_number() over(partition by PSOISH.COD_SALES_ORDER_ITEM_STATUS,PSOISH.COD_SALES_ORDER_ITEM order by PSOISH.COD_DATE desc) rank
  FROM [AIG_JUMIA_' + @SHORT_COUNTRY_CODE + '_STG].[dbo].[PRE_SALES_ORDER_ITEM_STATUS_HISTORY] AS PSOISH
  JOIN [AIG_JUMIA_' + @SHORT_COUNTRY_CODE + '_STG].[dbo].[PRE_PACKAGE_ITEM] prep ON PSOISH.COD_SALES_ORDER_ITEM = prep.[COD_SALES_ORDER_ITEM_OMS]
  WHERE PSOISH.COD_SALES_ORDER_ITEM_STATUS = 27 AND PSOISH.COD_SYSTEM = ''''OMS''''
   ) a where rank = 1 ) AS PP    
ON PP.COD_SALES_ORDER_ITEM_OMS = PSOI.COD_SALES_ORDER_ITEM  
JOIN [AIG_JUMIA_' + @SHORT_COUNTRY_CODE + '_STG].[dbo].[V_PRE_OMS_PACKAGE] AS NAV_PK 
ON NAV_PK.COD_PACKAGE = PP.COD_PACKAGE
JOIN (select * from (select COD_BOB_SALES_ORDER_ITEM,MTR_SHIPPING_AMOUNT_INCL_TAX,row_number() over(partition by COD_BOB_SALES_ORDER_ITEM order by SK_DATE DESC) as rownum from [AIG_JUMIA_' + @SHORT_COUNTRY_CODE + '_DW].[dbo].[M03_F01_FCT_SALES_ORDER_ITEM_FINANCE]) as FIN where FIN.rownum=1  )AS FEES
ON FEES.COD_BOB_SALES_ORDER_ITEM=PSOI.COD_SALES_ORDER_ITEM          
LEFT JOIN (select * from [AIG_JUMIA_' + @SHORT_COUNTRY_CODE + '_STG].[dbo].[PRE_Sales_RULE]) PSR
ON PSO.COD_SALES_RULE = PSR.COD_SALES_RULE_CODE 
Where PSO.COD_TIMESTAMP > ' + @THRESHOLD + '   
AND PSO.COD_TIMESTAMP > ' + @CUT_OFF_DATE_BI + ' 													
GROUP BY  
NAV_PK.COD_TRACKING_NUMBER 
,NAV_PK.COD_PACKAGE
,NAV_PK.COD_PACKAGE_STATUS
,PSO.COD_ORDER_NR
,PSO.COD_CUSTOMER
,PSO.COD_SALES_RULE
,NAV_PK.COD_DELIVERED_DATE
,PSO.COD_TIMESTAMP   
,NAV_PK.COD_UPDATE_DATE 												     
) DS_INT ) aux	
where aux.rn <= ' + CAST(@BATCH_COUNTER as NVARCHAR(50)) + '											 
'')) AS OMS_DATA' ;

		SET @QUERY_RABBIT = (char(13) + char(10) + 'LEFT JOIN 
				   TMP_RAB_MESSAGES_ENT11 AS RABO_DATA
				   ON RABO_DATA.id_related_entity = OMS_DATA.COD_TRACKING_NUMBER
						AND RABO_DATA.ID_COMPANY =  OMS_DATA.ID_COMPANY	
						
				   LEFT JOIN 
				  (SELECT * FROM OPENQUERY([BI-DWH-NAV],
										''SELECT DISTINCT ID_COMPANY
												 ,SO.[No_] as SO_NO												
												 ,SO.[Amount excl_ VAT]
												 ,SO.[Amount Incl_ VAT]
												  									  
					    FROM [dbo].[Posted Sales Invoices] AS SO									
				        WHERE id_company = ''''' + @COUNTRY_CODE +  '''''											
						'')) AS NAV_DATA_OP
				  ON NAV_DATA_OP.[SO_NO] = OMS_DATA.[COD_TRACKING_NUMBER] 
						AND NAV_DATA_OP.[ID_COMPANY] = OMS_DATA.ID_COMPANY			
						 ');
	  		
			SET @QUERY_NAV =  (char(13) + char(10) + ' -- NAV DW
				  LEFT JOIN (select * from TMP_NAV_MESSAGES where ID_COMPANY = ''' + @COUNTRY_CODE +  ''' and [Message Type] = ''SalesOrderDelivery'') AS NAV_DATA 
				  ON NAV_DATA.[Message ID]  = RABO_DATA.[id_message] 
						AND NAV_DATA.[ID_COMPANY] = RABO_DATA.ID_COMPANY							
							');	

	  

			EXEC(@QUERY_OMS_1+ @QUERY_OMS_2+@QUERY_OMS_3 + @QUERY_RABBIT + @QUERY_NAV);
			-- SELECT @QUERY_OMS_1, @QUERY_OMS_2, @QUERY_OMS_3, @QUERY_RABBIT, @QUERY_NAV
			SET @ROWCOUNT = @@ROWCOUNT
			
			-- PRINT LAST LOADED COUNT
			SET @PRINT_MSG = 'Just loaded: ' + CAST(@ROWCOUNT AS VARCHAR(150))
			RAISERROR(@PRINT_MSG,0,1) WITH NOWAIT
    END

	FETCH NEXT FROM COUNTRIES_CURSOR INTO @COUNTRY_CODE,@SHORT_COUNTRY_CODE,@COUNTRY,@CUT_OFF_DATE_BI,@INC_COL,@REP_ALL
	END

CLOSE COUNTRIES_CURSOR
DEALLOCATE COUNTRIES_CURSOR;




GO
