USE [AIG_Nav_Jumia_Reconciliation]
GO
/****** Object:  StoredProcedure [dbo].[_ORCHESTRATOR]    Script Date: 2/26/2016 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[_ORCHESTRATOR]
AS

BEGIN 

DECLARE @AUDIT_DATE DATETIME;
DECLARE @AUDIT_ID INT;
DECLARE @PROC NVARCHAR(250);
DECLARE @PROC_START_DATE DATETIME;
DECLARE @PROC_END_DATE DATETIME;
DECLARE @DURATION INT;


SET @AUDIT_ID = (SELECT ISNULL((MAX(RUN_ID)+1),1) FROM AUDIT_EXECUTIONS);
SET @AUDIT_DATE = (SELECT GETDATE());

-- PRIO 1 
BEGIN TRY
	SET @PROC_START_DATE = (SELECT GETDATE());
	SET @PROC = 'REFRESH_OMS_RECONCILIATION_POS';
	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_POS];
	SET @PROC_END_DATE = (SELECT GETDATE());
	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
	VALUES(1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
END TRY
BEGIN CATCH
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
END CATCH


BEGIN TRY
	SET @PROC_START_DATE = (SELECT GETDATE());
	SET @PROC = 'REFRESH_OMS_RECONCILIATION_PO_RECEIPTS';
	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_PO_RECEIPTS];
	SET @PROC_END_DATE = (SELECT GETDATE());
	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
	VALUES(2,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
END TRY
BEGIN CATCH
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
END CATCH


--BEGIN TRY
--	SET @PROC_START_DATE = (SELECT GETDATE());
--	SET @PROC = 'REFRESH_OMS_RECONCILIATION_PURCHASE_RETURNS';
--	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_PURCHASE_RETURNS];
--	SET @PROC_END_DATE = (SELECT GETDATE());
--	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
--	VALUES(3,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH

--Waiting for tables to be validated

--BEGIN TRY
--	SET @PROC_START_DATE = (SELECT GETDATE());
--	SET @PROC = 'REFRESH_OMS_RECONCILIATION_SALES_ORDERS';
--	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_SALES_ORDERS];
--	SET @PROC_END_DATE = (SELECT GETDATE());
--	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
--	VALUES(4,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH


BEGIN TRY
	SET @PROC_START_DATE = (SELECT GETDATE());
	SET @PROC = 'REFRESH_OMS_RECONCILIATION_SALES_DELIVERIES_INC';
	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_SALES_DELIVERIES_INC];
	SET @PROC_END_DATE = (SELECT GETDATE());
	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
	VALUES(5,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
END TRY
BEGIN CATCH
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
END CATCH


BEGIN TRY
	SET @PROC_START_DATE = (SELECT GETDATE());
	SET @PROC = 'REFRESH_OMS_RECONCILIATION_FAILED_SALES_DELIVERIES';
	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_FAILED_SALES_DELIVERIES];
	SET @PROC_END_DATE = (SELECT GETDATE());
	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
	VALUES(6,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
END TRY
BEGIN CATCH
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
END CATCH


BEGIN TRY
	SET @PROC_START_DATE = (SELECT GETDATE());
	SET @PROC = 'REFRESH_OMS_RECONCILIATION_SALES_SHIPMENTS';
	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_SALES_SHIPMENTS];
	SET @PROC_END_DATE = (SELECT GETDATE());
	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
	VALUES(7,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
END TRY
BEGIN CATCH
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
END CATCH


BEGIN TRY
	SET @PROC_START_DATE = (SELECT GETDATE());
	SET @PROC = 'REFRESH_OMS_RECONCILIATION_CREDIT_MEMOS';
	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_CREDIT_MEMOS];
	SET @PROC_END_DATE = (SELECT GETDATE());
	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
	VALUES(8,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
END TRY
BEGIN CATCH
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
END CATCH


	-- PRIO 3

BEGIN TRY
	SET @PROC_START_DATE = (SELECT GETDATE());
	SET @PROC = 'REFRESH_OMS_RECONCILIATION_CUSTOMER_PAYMENTS';
	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_CUSTOMER_PAYMENTS];
	SET @PROC_END_DATE = (SELECT GETDATE());
	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
	VALUES(9,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
END TRY
BEGIN CATCH
	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
END CATCH


--BEGIN TRY
--	SET @PROC_START_DATE = (SELECT GETDATE());
--	SET @PROC = 'REFRESH_OMS_RECONCILIATION_CUSTOMER_PRE_PAYMENTS';
--	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_CUSTOMER_PRE_PAYMENTS];
--	SET @PROC_END_DATE = (SELECT GETDATE());
--	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
--	VALUES(10,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH

--Waiting for tables to be validated
--BEGIN TRY
--	 SET @PROC_START_DATE = (SELECT GETDATE());
--	 SET @PROC = 'REFRESH_OMS_RECONCILIATION_CUSTOMER_REFUNDS';
--	 EXEC [dbo].[REFRESH_OMS_RECONCILIATION_CUSTOMER_REFUNDS];
--	 SET @PROC_END_DATE = (SELECT GETDATE());
--	 SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	 INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	 VALUES(11,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH
--Waiting for tables to be validated

	-- PRIO 4

--BEGIN TRY
--	SET @PROC_START_DATE = (SELECT GETDATE());
--	SET @PROC = 'REFRESH_OMS_RECONCILIATION_INVENTORY_TRANSFERS';
--	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_INVENTORY_TRANSFERS];
--	SET @PROC_END_DATE = (SELECT GETDATE());
--	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
--	VALUES(12,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH
--Waiting for tables to be validated

	-- PRIO 5

--BEGIN TRY
--	SET @PROC_START_DATE = (SELECT GETDATE());
--	SET @PROC = 'REFRESH_BOB_RECONCILIATION_CUSTOMERS';
--	EXEC [dbo].[REFRESH_BOB_RECONCILIATION_CUSTOMERS];
--	SET @PROC_END_DATE = (SELECT GETDATE());
--	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
--	VALUES(13,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH

--Waiting for tables to be validated
--BEGIN TRY
--	SET @PROC_START_DATE = (SELECT GETDATE());
--	SET @PROC = 'REFRESH_BOB_RECONCILIATION_ITEMS';
--	EXEC [dbo].[REFRESH_BOB_RECONCILIATION_ITEMS];
--	SET @PROC_END_DATE = (SELECT GETDATE());
--	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE)  
--	VALUES(14,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH
--Waiting for tables to be validated

--BEGIN TRY
--	SET @PROC_START_DATE = (SELECT GETDATE());
--	SET @PROC = 'REFRESH_BOB_RECONCILIATION_VOUCHERS';
--	EXEC [dbo].[REFRESH_BOB_RECONCILIATION_VOUCHERS];
--	SET @PROC_END_DATE = (SELECT GETDATE());
--	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(15,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH
--Waiting for tables to be validated

--BEGIN TRY
--	SET @PROC_START_DATE = (SELECT GETDATE());
--	SET @PROC = 'REFRESH_OMS_RECONCILIATION_VENDORS';
--	EXEC [dbo].[REFRESH_OMS_RECONCILIATION_VENDORS];
--	SET @PROC_END_DATE = (SELECT GETDATE());
--	SET @DURATION = DATEDIFF(MI,@PROC_START_DATE,@PROC_END_DATE);
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(16,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,'Ok','');
--END TRY
--BEGIN CATCH
--	INSERT INTO AUDIT_EXECUTIONS(RUN_ORDER,RUN_ID,RUN_DATE_TIME,RUN_PROC,RUN_START_DATE,RUN_END_DATE,RUN_DURATION_MIN,RUN_STATUS,RUN_MESSAGE) 
--	VALUES(-1,@AUDIT_ID,@AUDIT_DATE,@PROC,@PROC_START_DATE,@PROC_END_DATE,@DURATION,(CONCAT('Error',CAST(ERROR_NUMBER() AS VARCHAR))),CAST(ERROR_MESSAGE() AS VARCHAR(500)));

--	PRINT(CONCAT('Error',ERROR_NUMBER(),' | ',ERROR_MESSAGE()))
--END CATCH
--Waiting for tables to be validated


END;
GO
