USE [AIG_Nav_Jumia_Reconciliation]
GO
/****** Object:  StoredProcedure [dbo].[REFRESH_BOB_RECONCILIATION_VOUCHERS]    Script Date: 2/26/2016 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REFRESH_BOB_RECONCILIATION_VOUCHERS]
AS
-- drop table OMS_RECONCILIATION_VOUCHERS
DECLARE @CUT_OFF_DATE_BI NVARCHAR(50);
DECLARE @PRINT_MSG NVARCHAR(200);
DECLARE @QUERY_OMS_1 NVARCHAR(MAX);
DECLARE @QUERY_NAV NVARCHAR(MAX);
DECLARE @QUERY_RABBIT NVARCHAR(MAX);
DECLARE @COUNTRY NVARCHAR(150);
DECLARE @COUNTRY_CODE NVARCHAR(50);
DECLARE @SHORT_COUNTRY_CODE NVARCHAR(50);
DECLARE @INC_COL NVARCHAR(50);
DECLARE @REP_ALL bit;
DECLARE @TABLE_TO_CREATE NVARCHAR(150);
DECLARE @TABLE_TO_CREATE_SCHEMA NVARCHAR(150);
DECLARE @COUNTER INT;
DECLARE @BATCH_COUNTER INT;
DECLARE @ROWCOUNT INT;


--SET @PRINT_MSG = 'BOB_RECONCILIATION_VOUCHERS ==== PROCESSING RABBIT MESSAGES ==== ' 
--RAISERROR(@PRINT_MSG,0,1) WITH NOWAIT
--EXEC [dbo].REFRESH_TMP_RAB_MESSAGES_ENTVOU;

--SET @PRINT_MSG = '==== PROCESSING NAVISION MESSAGES ==== ' 
--RAISERROR(@PRINT_MSG,0,1) WITH NOWAIT
--EXEC [dbo].[REFRESH_TMP_NAV_MESSAGES];


-- get all countries from config table
DECLARE COUNTRIES_CURSOR CURSOR FOR 
	SELECT ID_COMPANY
		, ID_COMPANY_SHORT
		, COUNTRY
		, CUT_OFF_DATE_BI
		, INCREMENTAl_COL
		, REPROCESS_ALL
	FROM OMS_RECONCILIATION_CONFIG 
	WHERE ACTIVE = 1 ORDER BY [ORDER] ASC;

-- reconciliation table to create
SET @TABLE_TO_CREATE = 'BOB_RECONCILIATION_VOUCHERS';
SET @TABLE_TO_CREATE_SCHEMA = 'AIG_Nav_Jumia_Reconciliation'

-- start process for each country
OPEN COUNTRIES_CURSOR
	-- get current country
	FETCH NEXT FROM COUNTRIES_CURSOR INTO @COUNTRY_CODE,@SHORT_COUNTRY_CODE,@COUNTRY,@CUT_OFF_DATE_BI,@INC_COL,@REP_ALL
		
	SET @COUNTER = 1;
	-- while you have countries to process
	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		DECLARE @MAX_DATE NVARCHAR(150);
		DECLARE @INSERT NVARCHAR(150);
		DECLARE @INSERT_INTO NVARCHAR(100);
		DECLARE @THRESHOLD NVARCHAR(100);

		SET @PRINT_MSG = 'PROCESSING COUNTRY: ' + @COUNTRY_CODE
		RAISERROR(@PRINT_MSG,0,1) WITH NOWAIT
				
			
		WHILE 1=1
		BEGIN
			  
			  IF (EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES 
				  WHERE TABLE_CATALOG = @TABLE_TO_CREATE_SCHEMA AND TABLE_NAME = @TABLE_TO_CREATE))
			  BEGIN
				  IF (@REP_ALL = 1) 
				  BEGIN
					DECLARE @DROP_QUERY NVARCHAR(250) = 'DROP TABLE ' + @TABLE_TO_CREATE; 		
					EXEC(@DROP_QUERY);
				  END	

				  DECLARE @IN_SQL NVARCHAR(MAX);			
				  SET @INSERT = 'INSERT INTO ' +  @TABLE_TO_CREATE;
				  SET @INSERT_INTO='';	
				  SET @IN_SQL = N'SELECT @EXTRACT_THRESHOLD=ISNULL(MAX(' + @INC_COL + '),''19000101000000'') FROM ' + @TABLE_TO_CREATE + ' WHERE ID_COMPANY='''+ @COUNTRY_CODE  + ''';'			
				  SET @THRESHOLD = N'@EXTRACT_THRESHOLD varchar(100) OUTPUT';			
				  -- get date for current country
				  EXEC sp_executesql @IN_SQL,@THRESHOLD,@EXTRACT_THRESHOLD=@THRESHOLD OUTPUT;	
			  END
			  ELSE
			  BEGIN	
				  SET @THRESHOLD = '19000101000000';	
				  SET @INSERT = '';
				  SET @INSERT_INTO='INTO ' +  @TABLE_TO_CREATE;			
			  END
			SET @BATCH_COUNTER = 1000000;	  	  
	  

			SET @QUERY_OMS_1 = (@INSERT +  char(13) + char(10) + 
				  'SELECT  
				  	OMS_DATA.ID_COMPANY
					,OMS_DATA.COD_SALES_RULE_CODE as Bob_Voucher_Code	
					,OMS_DATA.DSC_SALES_RULE_SET_TYPE as Bob_Voucher_Code_Type
					,OMS_DATA.VAL_SALES_RULE_DISCOUNT_AMOUNT as Bob_Voucher_Amount	
					,CAST(OMS_DATA.DAT_SALES_RULE_FROM_DATE AS DATE) AS Voucher_Creation_Date				
					,RABO_DATA.[COD_TIMESTAMP] AS BOB_Message_Created 
					,RABO_DATA.[message_id] AS BOB_Message_ID	
					,RABO_DATA.status AS RabbitMQ_Status
				    ,RABO_DATA.error AS RabbitMQ_Error_Message					
					,NAV_DATA.[Status] as Nav_Message_Status
					,NAV_DATA.[Error Message] as Nav_Error_Message
					,CASE WHEN NAV_DATA_OP.[V_NO] IS NULL THEN ''False'' ELSE ''True'' END as ''Nav_Voucher_Created''					
					,OMS_DATA.COD_TIMESTAMP
				  ' + @INSERT_INTO + '
			      FROM( SELECT * FROM OPENQUERY([BI-DWH-JUMIA], ''select * from(SELECT DS_INT.*
																   , row_number() over(order by DS_INT.COD_TIMESTAMP ASC) as rn
															from (SELECT top ' + CAST(@BATCH_COUNTER as NVARCHAR(50)) + ' 
															 ''''' + @COUNTRY_CODE + ''''' as ID_COMPANY
															 ,PSR.COD_SALES_RULE
															 ,PSR.COD_SALES_RULE_CODE
															 ,PSR.DAT_SALES_RULE_FROM_DATE
															 ,DSC_SALES_RULE_SET_NAME
															 ,DSC_SALES_RULE_SET_TYPE
															 ,DSC_SALES_RULE_SET_DESCRIPTION
															 ,PSR.COD_TIMESTAMP
															 ,PSR.VAL_SALES_RULE_DISCOUNT_AMOUNT
														  FROM [AIG_JUMIA_' + @SHORT_COUNTRY_CODE + '_STG].[dbo].[PRE_Sales_rule] AS PSR
													  	  WHERE PSR.COD_TIMESTAMP > ' + @THRESHOLD + ' and COD_SYSTEM = ''''BOB''''
														  order by PSR.COD_TIMESTAMP ASC	
														   ) DS_INT ) aux
															where aux.rn <= ' + CAST(@BATCH_COUNTER as NVARCHAR(50)) + '
																									 
															'')) AS OMS_DATA' );

SET @QUERY_RABBIT = (char(13) + char(10) + 'LEFT JOIN 
				   [TMP_RAB_MESSAGES_ENTVOU] AS RABO_DATA 
				   ON RABO_DATA.fk_erp_navision_entity = OMS_DATA.[COD_SALES_RULE] 
						AND RABO_DATA.ID_COMPANY =  OMS_DATA.ID_COMPANY	
						
				   LEFT JOIN 
				  (SELECT * FROM OPENQUERY([BI-DWH-NAV],
										''SELECT ID_COMPANY,
												 V.[No_] as V_NO 								  
					    FROM [dbo].[Vouchers] AS V						
				        WHERE id_company = ''''' + @COUNTRY_CODE +  '''''											
						'')) AS NAV_DATA_OP
				  ON NAV_DATA_OP.[V_NO] = CAST(OMS_DATA.[COD_SALES_RULE] as nvarchar) 
						AND NAV_DATA_OP.[ID_COMPANY] = OMS_DATA.ID_COMPANY			
						 ');

SET @QUERY_NAV =  (char(13) + char(10) + ' -- NAV DW
				  LEFT JOIN (select * from TMP_NAV_MESSAGES where ID_COMPANY = ''' + @COUNTRY_CODE +  ''' and [Message Type] = ''Voucher'') AS NAV_DATA 
				  ON NAV_DATA.[Message ID]  = RABO_DATA.[message_id] 
						AND NAV_DATA.[ID_COMPANY] = RABO_DATA.ID_COMPANY							
							');

          --select @QUERY_OMS_1,@QUERY_RABBIT,@QUERY_NAV
			EXEC(@QUERY_OMS_1+@QUERY_RABBIT+@QUERY_NAV);
			SET @ROWCOUNT = @@ROWCOUNT
			IF @ROWCOUNT<@BATCH_COUNTER/4 BREAK;

		  -- PRINT LAST LOADED COUNT
			SET @PRINT_MSG = 'Just loaded: ' + CAST(@ROWCOUNT AS VARCHAR(150))
			RAISERROR(@PRINT_MSG,0,1) WITH NOWAIT
    END

	FETCH NEXT FROM COUNTRIES_CURSOR INTO @COUNTRY_CODE,@SHORT_COUNTRY_CODE,@COUNTRY,@CUT_OFF_DATE_BI,@INC_COL,@REP_ALL
	END

CLOSE COUNTRIES_CURSOR
DEALLOCATE COUNTRIES_CURSOR;


WITH CTE AS
(
SELECT [ID_COMPANY],[Bob_Voucher_Code],ROW_NUMBER() over(partition by id_company,[Bob_Voucher_Code] order by cod_timestamp desc) as rownum
FROM [AIG_Nav_Jumia_Reconciliation].[dbo].[BOB_RECONCILIATION_VOUCHERS]
)
DELETE FROM CTE WHERE cte.rownum>1

GO
