USE [AIG_Nav_Jumia_Reconciliation]
GO
/****** Object:  StoredProcedure [dbo].[RECORDSCOUNT]    Script Date: 2/26/2016 5:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC ACTIVITY_MONITOR



CREATE PROCEDURE [dbo].[RECORDSCOUNT] @country nvarchar(10)
AS
select @country as ID_COMPANY, 'BOB_RECONCILIATION_CUSTOMERS' as TABLE_NAME, count(*) AS COUNT_RECORDS from [dbo].[BOB_RECONCILIATION_CUSTOMERS] WHERE ID_COMPANY=@country 
UNION ALL
select @country as ID_COMPANY, 'BOB_RECONCILIATION_ITEMS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].[BOB_RECONCILIATION_ITEMS] WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'BOB_RECONCILIATION_VOUCHERS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].BOB_RECONCILIATION_VOUCHERS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_CREDIT_MEMOS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_CREDIT_MEMOS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_CUSTOMER_PAYMENTS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_CUSTOMER_PAYMENTS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_CUSTOMER_PRE_PAYMENTS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_CUSTOMER_PRE_PAYMENTS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_CUSTOMER_REFUNDS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_CUSTOMER_REFUNDS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_FAILED_SALES_DELIVERIES' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_FAILED_SALES_DELIVERIES WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_INVENTORY_TRANSFERS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_INVENTORY_TRANSFERS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_PO_RECEIPTS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_PO_RECEIPTS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_POS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_POS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_PURCHASE_RETURNS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_PURCHASE_RETURNS WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_SALES_DELIVERIES' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_SALES_DELIVERIES WHERE ID_COMPANY=@country
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_SALES_ORDERS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_SALES_ORDERS WHERE ID_COMPANY=@country 
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_SALES_SHIPMENTS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_SALES_SHIPMENTS WHERE ID_COMPANY=@country 
UNION ALL
select @country as ID_COMPANY, 'OMS_RECONCILIATION_VENDORS' as TABLE_NAME , count(*) as COUNT_RECORDS from [dbo].OMS_RECONCILIATION_VENDORS WHERE ID_COMPANY=@country
 ORDER BY COUNT_RECORDS DESC

GO
